html, body {
    margin:0;
    height: 100%;
}

body {
  margin: 0 auto;
  padding-top: 50px;
}

.alert {
    padding: 8px;
}

.alert-dismissable .close, .alert-dismissible .close {
    right: 0px;
}

#content-wrapper {
    padding-left: 0px;
    position: relative;
    overflow: auto;
    min-height: 100%;
}

.container-fluid .sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    
    padding-left: 0px;
    float: left;
    width: 250px;
    background: #394a59;
    color: white;
}

#main-container {
    position: relative;
    left: 250px;
    color: #000000;
}

.sidebar h3 {
    color: white;
}

.sidebar .simple-link {
    color: lightcoral;
}

nav .container-fluent {
    background-color: #394a59;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
    padding-right: 122px;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hower {
    color: #5cb85c !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #5cb85c !important;
}

.navbar-default .navbar-nav > .active > a {
    color: darkgreen;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #5cb85c !important;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5cb85c !important;
}

#main-container .glyphicon.glyphicon-info-sign {
    top: 3px;
}

.page-header {
    margin: 0px;
}