.homepage-bg {
    background-image:url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -83px;
    height: 100%;
}

@media screen and (max-width: 1380px) {
    .homepage-bg {
        background-position-y: center;
    }
}

@media screen and (min-height: 1100px) {
    .homepage-bg {
        background-position-y: -250px;
    }
}

.overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
}

@media screen and (max-width: 768px) {
    .overlay {
        background:rgba(0,0,0,0.8);
    }
}

.homepage-bg .container {
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .card-login {
        margin-top: 5px;
        max-width: 320px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 576px) {
    .card-login {
        width: 100%;
    }
}

@media screen and (min-height: 1000px) {
    .card-login {
        margin-top: 60px;
    }
}

.main-homepage {
    height: 100vh;
    position: relative;
}

@media screen and (max-width: 1200px) {
    .main-homepage {
        height: 100%;
    }
}

.title {
    color:#b9bbbc;
    padding-bottom: 5px;
}

.title-black {
    color:#000000;
    padding-bottom: 5px;
}

.title h1 {
    font-size: 20px;
}

.title-black h1 {
    font-size: 20px;
}

@media screen and (max-width: 576px) {
    .title h1 {
        font-size: 16px;
    }
    .title-black h1 {
        font-size: 16px;
    }
}

.second-picture {
    height: auto;
    width: 100%;
    border-radius: 20px;
}


.flex-wrapper-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.description {
    color: black;
    padding-top: 64px;
    position: relative;
    text-align: center;
}

@media (max-width: 500px ) {
    .description {
        margin-bottom: 40px;
    }
}

.people {
    background-image: url("../images/people.svg");
    background-repeat: no-repeat;
    background-position-x: center;
}

.heart {
    background-image: url("../images/heart.svg");
    background-repeat: no-repeat;
    background-position-x: center;
}

.chart {
    background-image: url("../images/chart.svg");
    background-repeat: no-repeat;
    background-position-x: center;
}

.homepage-bottom {
    margin-top: auto;
    z-index: 1;
    margin-bottom: 20px;
}

.preview {
    background-image: url("../images/preview-min.png");
    width: 100%;
    height: 314px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
}

@media screen and (min-height: 1000px) {
    .preview {
        height: 400px;    }
}

@media screen and (max-width: 1200px) {
    .homepage-bottom {
        margin-top: 80px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .preview {
        max-width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .preview {
        background-position: left;
    }
}


.section-secondary {
    background-color: #ffc107;
    padding: 50px 0;
}
@media screen and (min-width: 768px) {
    .section-secondary {
        min-height: 80vh;
    }
    footer {
        min-height: 20vh;
    }
}

.logo {
    background-image:url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 39px;
    width: 100%;
    color: #ffc107;
}

.black-logo {
    background-image:url("../images/logo-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 39px;
    width: 100%;
    color: #000000;
}

@media screen and (max-width: 576px) {
    .logo {
        height: 30px;
        background-position: center;
    }
    .black-logo {
        height: 30px;
        background-position: center;
    }
}

footer {
    background-color: #212529;
    padding: 45px 0;
    color: white;
    border-top: 2px solid white;
}

.footer-logo {
    background-image:url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 38px;
    max-width: 200px;
    width: 100%;
    color: #ffc107;
}

.links {
    list-style-type: none;
}

.links a {
    color: #ffffff;
    text-decoration: none;
}

.links a:hover {
     color: #ffffff;
     text-decoration: none;
 }


@media screen and (max-width: 768px) {
    .links {
        margin-top: 20px;
        display: flex;
    }
}

.links li {
    margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
    .links li {
        margin-right: 10px;
    }
}

body {
    background-color: blue;
}

.hyperlink-about {
    text-decoration: none;
    color: #75113b;
}

.hyperlink-about:hover {
    text-decoration: underline;
    color: #75113b;
}

.hyperlink-about:visited {
    color: #75113b;
}

.hyperlink-about:active {
    color: #75113b;
}

.h2-small {
    font-size: 25px;
}

.picture-about {
    box-shadow: 21px 28px 25px -21px rgba(112,112,112,1);
    display: block;
    margin: 0 auto;
}