parameters:
    config:
        disabledSendEmail: FALSE    # TRUE = Neodesílají se emaily (použito pro vývoj)
        enabledSaveEmail: FALSE      # TRUE = Začne ukládat odeslané emaily (použito pro vývoj)
        measureGoogleAnalytics: FALSE   # Povolit měření pro Google Analytics