parameters:
    config:
        enabledSendEmail: FALSE    # FALSE = Neodesílají se emaily (použito pro vývoj)
        enabledSaveEmail: TRUE      # TRUE = Ukládání emailů (použito pro vývoj)
        measureGoogleAnalytics: FALSE   # Povolit měření pro Google Analytics