parameters:
    config:
        enabledSendEmail: TRUE    # TRUE = Neodesílají se emaily (použito pro vývoj)
        enabledSaveEmail: TRUE      # TRUE = Začne ukládat odeslané emaily (použito pro vývoj)
        measureGoogleAnalytics: TRUE   # Povolit měření pro Google Analytics
