.git
.gitignore
.idea
nbproject
node_modules
vendor
log
temp
*.log
*.sql
*.md
docker/development/docker-compose.yml
docker/development/env.example
docker/development/.env
docker-build.sh
docker-rebuild.sh
deploy.ini
deploy.log

