{block content}
<div class="card card-login mx-auto mt-5">
    <div class="card-header">Reset Password</div>
    <div class="card-body">
        <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
        <div class="text-center mb-4">
            <h4>Forgot your password?</h4>
            <p>Enter your email address and we will send you instructions on how to reset your password.</p>
        </div>
        {control resetPasswordForm}

        <div class="text-center">
            <a class="d-block small mt-3" href="{plink Registration:default}">Register an Account</a>
            <a class="d-block small" href="{plink Login:default}">Login Page</a>
        </div>
    </div>
</div>
{/block}