{block content}
{include '../partial/navigation.latte'}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">Challenges</li>
    <li class="breadcrumb-item active">Edit challenge</li>
</ol>

{include '../partial/flashMessages.latte'}

{control challengeForm}
{/block}
