{block content}
{include '../partial/navigation.latte'}

<div class="container">
    {include '../partial/flashMessages.latte'}

    <h2 class="page-header">Challenge edit</h2>
        <div id="edit-challenge">
            {control challengeForm}
        </div>
    <br />
</div>
{/block}
