body {
	margin: 0;
	background: #000;
}

video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background-color: #000000;
	background-size: cover;
	transition: 1s opacity;
}

.stopfade {
	opacity: .5;
}

#big-background-container {
	width:830px;
	max-width:100%;
	display:inline-block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align: center;
}

.big-background-title {
	font-family: 'Raleway',sans-serif;
	font-size: 78px;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 22px;
	padding-top: 20px;
	display: inline-block;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: top center;
}

.divider {
	background-image: url(../images/divider.png);
	display: block;
	width: 300px;
	height: 35px;
	margin: 10px auto;
}

#first-page-title {
	display: block;
	color: white;
	text-align: center;
}

.pattern {
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
	background-attachment: scroll;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#colorize {
	color: #f1c40f;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
}

a.big-background-btn {
	font-family:'Lato',sans-serif;
	font-size:13px;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
	background:transparent;
	border:2px solid #fff;
	padding:10px 14px;
	cursor:pointer;
	letter-spacing:2px;
	text-align:center;
	display:inline-block;
	transition:.4s background ease;	
}

.big-background-btn:hover {
	color:#fff;
	background:rgba(255,255,255,0.20)
}

#first-page-button-wrapper {
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 3rem;
	text-transform: uppercase;
	margin-top: 0;
	letter-spacing: .3rem;
}

a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	background:rgba(0,0,0,0.5);
	padding: .5rem;
	transition: .6s background;
}

a:hover{
	background:rgba(0,0,0,0.9);
}

@media screen and (max-width: 500px) {
	div{width:70%;}
}

@media screen and (max-device-width: 500px) {
	html { background-color: #000000; }
	#bgvid { display: none; }
}

@media screen and (max-device-width: 500px) {
	.big-background-title {
		font-size: 50px;
	}

	#colorize {
		font-size: 18px;
	}
}