body {
	margin: 0;
	background: #000;
}

#first-page-logo {
	display: block;
	margin: 100px auto 20px auto;
	width: 2%;
}

#first-page-title {
	display: block;
	color: white;
	text-align: center;
}

#first-page-button {
	text-align: center;
	font-size:30px;
	text-decoration:none;
	color:#fff;
	background:transparent;
	border:2px solid #fff;
	padding:15px 40px;
	cursor:pointer;
	letter-spacing:2px;
}

#first-page-button:hover {
	color:#fff;
	background:rgba(255,255,255,0.20)
}

#first-page-button-wrapper {
	display: flex;
	justify-content: center;
}

h1 {
	display: block;
	color: #ac2925;
	text-align: center;
}

a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	background:rgba(0,0,0,0.5);
	padding: .5rem;
	transition: .6s background;
}
a:hover{
	background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) {
	div{width:70%;}
}
@media screen and (max-device-width: 800px) {
	html { background-color: #000000; }
	#bgvid { display: none; }
}