#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
common:

    includes:
        - parameters.neon
        - services.neon

    parameters:


    php:
            date.timezone: Europe/Prague


    application:
            errorPresenter: Error
            mapping:
                    *: App\*Module\Presenters\*Presenter


    session:
            expiration: 14 days

    facebook:
        appId: "1593019784287489"
        appSecret: "107bbf1e77ef8dac7e70e3c979d90b42"
        permissions: [public_profile, email] # theese are the default read permissions, you might need to
        graphVersion: v2.5

    extensions:
        facebook: Kdyby\Facebook\DI\FacebookExtension

production < common:
    includes:
        - production/parameters.neon

development < common:
    includes:
        - development/parameters.neon

local < common:
    includes:
        - local/parameters.neon

cron < common:
    includes:
        - cron/parameters.neon