services:

    - App\RouterFactory
    router: @App\RouterFactory::createRouter(%consoleMode%)
    authenticator: App\Model\Authenticator


    - App\Model\BaseModel
    - App\Model\User

    - App\Components\SignFormFactory
    - App\Components\RegistrationFormFactory(@App\Model\User)