services:

    - App\RouterFactory
    router: @App\RouterFactory::createRouter(%consoleMode%)
    authenticator: App\Model\Authenticator


    - App\Model\BaseModel
    - App\Model\User
    - App\Model\LoggerModel
    - App\Model\Activity
    - App\Model\ActivityLog
    - App\Model\LaunchAlert
    - App\Model\Privacy
    - App\Model\Role
    - App\Model\Email

    - App\Components\SignFormFactory
    - App\Components\RegistrationFormFactory(@App\Model\User)
    - App\Components\MailerManagerFactory(@App\Components\MailerFactory, @App\Components\MessageFactory , @Nette\Http\Request , @Nette\Application\UI\ITemplateFactory , %config%)
    - App\Components\MailerFactory(@App\Model\LoggerModel)
    - App\Components\MessageFactory

    - \IActivityFormFactory
    - \ILaunchAlertFormFactory