services:

    - App\RouterFactory
    router: @App\RouterFactory::createRouter(%consoleMode%)
    authenticator: App\Model\Authenticator


    - App\Model\BaseModel
    - App\Model\User
    - App\Model\Gender
    - App\Model\LoggerModel
    - App\Model\Activity
    - App\Model\ActivityLog
    - App\Model\LaunchAlert
    - App\Model\Privacy
    - App\Model\Role
    - App\Model\Email
    - App\Model\Weight
    - App\Model\Friend
    - App\Model\FriendshipRequest
    - App\Model\Challenge
    - App\Model\ChallengeUser
    - App\Model\Notification

    - App\Components\MailerManagerFactory(@App\Components\MailerFactory, @App\Components\MessageFactory , @Nette\Http\Request , @Nette\Application\UI\ITemplateFactory , %config%)
    - App\Components\MailerFactory(@App\Model\LoggerModel)
    - App\Components\MessageFactory

    - App\Components\ActivityForm\IActivityFormFactory
    - App\Components\LaunchAlertForm\ILaunchAlertFormFactory
    - App\Components\UserProfileForm\IUserProfileFormFactory
    - App\Components\UserPhotoForm\IUserPhotoFormFactory
    - App\Components\SignForm\ISignFormFactory
    - App\Components\RegistrationForm\IRegistrationFormFactory
    - App\Components\UserWeightForm\IUserWeightFormFactory
    - App\Components\ChallengeForm\IChallengeFormFactory