Hi {$data['username']},<br/>
<br/>
thank you for joining Fitchart.<br/>
<br/>
Confirm your email address to complete your Fitchart account.<br/>
<br/>
Just click on the link below.<br/>
<br/>
{$data['confirmationLink']}<br/>
<br/>
<br/>
Regards,<br/>
Fitchart<br/>
{$data['domain']}<br/>