Hey {$data['username']},<br/>
<br/>
It looks like there was a problem.<br/>
<br/>
To reset your password just click on the link below.<br/>
<br/>
{$data['resetLink']}<br/>
<br/>
<br/>
Regards,<br/>
Fitchart<br/>
{$data['domain']}<br/>
https://twitter.com/fitchartnet<br/>