{block content}
<div id="banner">
    <h1 n:block=title>Pushupers - list</h1>
</div>

<div id="content">
    <a n:href='Main:default'>Add new record</a>
    <br />
    <table class="table table-striped">
        <tr><th>Date</th><th>Count</th></tr>
        <tr n:foreach="$activities as $id => $activity"><td>{$activity->updated_at|date:'d.m.Y H:i'}</td><td>{$activity->value}</td></tr>
    </table>
</div>
{/block}