Hi {$data['username']},<br/>
<br/>
thank you for joining Pushupers.<br/>
<br/>
Confirm your email address to complete your Pushupers account.<br/>
<br/>
Just click on the link below.<br/>
<br/>
{$data['confirmationLink']}<br/>
<br/>
<br/>
Regards,<br/>
Pushupers<br/>
{$data['domain']}<br/>