{block content}
{include '../partial/navigation.latte'}

<div class="container">
    {control userProfileForm}
    <br /><br /><br />
    <br /><br /><br />
    {control userPhotoForm}
</div>

{/block}
