{block content}
{include '../partial/navigation.latte'}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item">User</li>
    <li class="breadcrumb-item active">Edit</li>
</ol>

<div class="row">
    <div class="col-xl-4 col-sm-6 mb-3">
        {control userProfileForm}
    </div>
    <div class="col-xl-4 col-sm-6 mb-3">
        <div class="col-6">
            {control userPhotoForm}
        </div>
    </div>
</div>


<script type="text/javascript">
$(function(){
    var newAvatar = {$newAvatar};

    if (newAvatar) {
        $('#user-photo-form-div').hide();

        var x,y,w,h;
        $('#image').cropper({
            aspectRatio: 1,
            viewMode: 3,
            crop: function(e) {
                x = e.x;
                y = e.y;
                w = e.width;
                h = e.height;
            }
        });

        $('#crop-button').on('click', function (e) {
            e.preventDefault();
            window.location.href = {plink User:crop}+'?left=' + x + '&top=' + y + '&width=' + w + '&height=' + h;
        });
    }
});
</script>
{/block}
