<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{$basePath}/css/style-front.min.css?v={$t}" rel="stylesheet" type="text/css">

    <title>Fitchart.net</title>
    <meta name="description" content="Easy way to create a workout challenge.">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Fitchart">
    <meta property="og:description" content="Easy way to create a workout challenge.">
    <meta property="og:image" content="https://fitchart.net/for-social-meta-tags.png">
    <meta property="og:url" content="https://fitchart.net">

    <meta name="twitter:site" content="@fitchartnet">
    <meta name="twitter:title" content="Fitchart">
    <meta name="twitter:description" content="Easy way to create a workout challenge.">
    <meta name="twitter:image" content="https://fitchart.net/for-social-meta-tags.png">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<section class="section-wrapper">
    <section class="section-secondary">
        <div class="container h-100 d-flex flex-column justify-content-between">
            <a href="/">
                <div aria-hidden="true" class="black-logo">
                    <span class="sr-only">Fitchart</span>
                </div>
            </a>
            <div class="pt-5">
                <h1 class="mb-4">Oops...</h1>
                <h2>error 400</h2>
                <img style="width:100%;" src="https://media.giphy.com/media/3ohc1ffY03hnhRUyUU/giphy.gif">
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <a class="d-block footer-logo" href="/"></a>
                </div>
                <div class="col-md-3">
                    <ul class="links pl-0">
                        <li><a href="https://twitter.com/fitchartnet" target="_blank">Twitter</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    “Every action you take is a vote for the type of person you wish to become.”<br>
                    ― James Clear, Atomic Habits
                </div>
            </div>
        </div>
    </footer>
</section>
</body>
</html>