{form resetPasswordForm}
    <p n:foreach="$form->errors as $error" id="login-alert" class="alert alert-danger col-sm-12">{$error}</p>

    <div class="form-group">
        <div class="form-label-group">
            {input email}
            {label email /}
        </div>
    </div>

    {input submit}
{/form}