{block content}
{include '../partial/navigation.latte'}

<div id="content-wrapper" class="container-fluid">
    {include '../partial/sidebar-profile-blok.latte'}

    <div id="main-container" class="col-xs-9" style="padding-top: 25px;">
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

        <h2>Challenges</h2>
    </div>
</div>

<script type="text/javascript">
$(function(){
});
</script>
{/block}
