{block content}
{include '../partial/navigation.latte'}

<div id="content-wrapper" class="container-fluid">
    {include '../partial/sidebarProfileBlok.latte'}

    <div id="main-container" class="col-xs-9" style="padding-top: 25px;">
        {include '../partial/flashMessages.latte'}

        <h2 class="page-header">Challenges</h2>
    </div>
</div>

<script type="text/javascript">
$(function(){
});
</script>
{/block}
