<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header{if $presenter->isLinkCurrent('Main:')} active{/if}">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" n:href='Challenge:default'>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Fitchart.net
            </a>
        </div>
        <div  id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li n:class="$presenter->isLinkCurrent('Main:addWorkout') ? active">
                    <a n:href='Main:addWorkout'>
                        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Add workout
                    </a>
                </li>
                <li n:class="$presenter->isLinkCurrent('Challenge:') ? active">
                    <a n:href='Challenge:default'>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Challenges
                    </a>
                </li>
                <li n:class="$presenter->isLinkCurrent('Friends:') ? active">
                    <a n:href='Friends:default'>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Friends
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li n:snippet="notification" class="dropdown">
                    {var $notificationCount = count($notifications)}
                    <a href="#" {if $notificationCount}class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"{/if}>
                        <i n:if="$notificationCount" class="glyphicon glyphicon-bell" style="color: #5cb85c">({$notificationCount})</i>
                        <i n:if="!$notificationCount" class="glyphicon glyphicon-bell" style="color: black"></i>
                    </a>
                    <ul n:if="$notificationCount" class="dropdown-menu alert-dropdown">
                        <li n:foreach="$notifications as $notification">
                            <a n:href="seenNotification $notification->id">
                                <span class="label label-success">{$notification->message}</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="ajax" n:href="seenAllNotifications!">Mark all as read</a>
                        </li>
                    </ul>
                </li>
                <li id="fat-menu" class="dropdown" aria-expanded="true">
                  <a id="drop3" href="#" style="padding: 5px 40px 5px 5px;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="img-thumbnail" style="padding: 1px; max-width: 40px; max-height: 40px;" src="{plink Static:getProfilePicture, $userData['profile_photo']}">
                    {$userData['username']}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="drop3">
                    <li><a n:href="User:profile"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a n:href='Main:logout' ><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
                  </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript">
    $.nette.init();
</script>