{form userPhotoForm}

    <ul class="error" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>

    <div>
	<div class="left">
	    <div style="float: left; padding-right: 50px;">
		{label photo /}{input photo}
	    </div>
	    <div style="padding-top: 24px;">
                <img style="max-width: 250px" src="{plink Static:getProfilePicture, $user['profile_photo']}">
		{input upload}
	    </div>
	</div>
    </div>
{/form}