{block content}
<div class="container">
    <div n:foreach="$flashes as $flash" class="alert, alert-{$flash->type}">{$flash->message}</div>
    {control signInForm}
    {control registrationForm}
</div>
<script type="text/javascript">
    $(document).ready(function() {
        if($('#signupbox #login-alert').length) {
            $('#loginbox').hide();
            $('#signupbox').show();
        }
    });
</script>
{/block}