{block content}
    <header id="header">
        <h1 n:block=title>Fitchart</h1>
        <p>Challenge yourself! Challenge your friends! <br />
        Simple and clear workout progress, tons of awesome graphs and buddy motivation.</p>
        <p>Get notified at launch!</p>
    </header>


    {control launchAlertForm}

    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Fitchart 2015.</li>
        </ul>
    </footer>
{/block}
